img {
  display: table-cell;
  max-height: 8rem;
}
.product-info-container {
  display: table;
  vertical-align: middle;
}
.product-title {
  display: table-cell;
  vertical-align: middle;
}
.productList {
  width: 75%;
  height: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px;

  align-items: center;

  backdrop-filter: blur(5px);
}
